<%- include('./partials/publicHeader') %>

<div class="container-flex mt-5 pt-4 mx-3">
    <button class="btn-lg btn-primary" type="button" onclick="location.href='/public/<%= id %>'">Back</button>
</div>
<hr class="my-4">

<div class="container container-fluid w-50 mx-auto">
    <div class="container text-center mx-3">
        <h5 class="card-title text-center mt-5">Give us your feedback</h5><br>
        <form id="addReviewForm" method="post">
            <div class="form-group">
                <label for="author">Name:</label>
                <input type="text" class="form-control mt-3" name="author" id="author" maxlength="50" placeholder="Name" required>
            </div>
            <div class="form-group mt-4">
                <label for="comment">Comment:</label>
                <textarea class="form-control mt-3" name="comment" id="comment" rows="4" required maxlength="1000"></textarea>
            </div>
            <button class="btn btn-lg btn-dark btn-block text-uppercase mt-5" type="submit" name="submit">Add Feedback</button>
        </form>
    </div>
</div>

<script>
    const form = document.getElementById('addReviewForm');

    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        let author = document.getElementById('author').value.trim();
        let comment = document.getElementById('comment').value.trim();
        const feedback = {author, comment};
        try {
            const res = await fetch(window.location.href, {
            method: 'POST',
            body: JSON.stringify(feedback),
            headers: {'Content-Type':'application/json'}
            }); 
            alert('feedback was successfuly added');
            window.location.href = '/public/<%= id %>/reviews';
        } catch {
            alert('error occured during adding feedback, please try again later');
        }
    });
</script>

<%- include('./partials/footer') %>