<%- include('./partials/authHeader') %>

<div class="container col-6 my-5 py-5">
    <h5 class="card-title text-center">Edit Product</h5><br>
    <form method="post" id="addProductForm">
        <div class="form-group">
            <label for="productName">Product Name</label>
            <input type="text" class="form-control" name="productName" id="productName" maxlength="100" placeholder="Name" value="<%= name %>" required>
        </div>
        <div class="form-group">
            <label for="description">Product Description</label>
            <textarea class="form-control" name="description" id="description" rows="3" required maxlength="1000"><%= description %></textarea><br>
        </div>
        <button class="btn btn-lg btn-dark btn-block text-uppercase" type="submit" name="submit">Edit Product</button>
    </form>
</div>

<script>
    
    
    const form = document.getElementById('addProductForm');
    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        const productName = document.getElementById('productName').value;
        const productDescription = document.getElementById('description').value;
        try {
            const res = await fetch(window.location.href,
            {method:'POST', 
            body: JSON.stringify({productName, productDescription}),
            });
            window.location.replace('/products');
    
        } catch {
            alert('error happened during adding product, try again');
            window.location.replace('/products');
        }
    });
    
    </script>

<%- include('./partials/footer') %>