<%- include('./partials/authHeader') %>
<div class="container justify-content-center col-4"></div>
    <h5 class="card-title text-center my-5 pt-5"><% productName %></h5>
    <div class="form-label-group">
        <button class="btn btn-lg btn-dark btn-block text-uppercase" type="button" onclick="location.href='/reviews'">Reviews</button>
    </div>
    <div class="form-label-group mt-5">
        <button class="btn btn-lg btn-dark btn-block text-uppercase" type="button" onclick="location.href='/feedback'">Feedback</button>
</div>

<%- include('./partials/footer') %>